#SuTSubscriptionForm h2,
#SuTSubscriptionForm legend,
#SuTSubscriptionForm input,
#SuTSubscriptionForm .sutb_warning_desc{
    margin-bottom:1em;
}
#SuTSubscriptionForm label{
    display:block;
}
#SuTSubscriptionForm input[type="text"]{
    width:100%;
}
#SuTSubscriptionForm .sutb_warning,
#SuTSubscriptionForm .sutb_warning_desc{
    color:#BB0000;
}
#SuTSubscriptionForm input.sutb_warning{
    border-color:#BB0000;
}