<!DOCTYPE html>
<html>
<head>
	<title>LivingfortheWeekend</title>
	<link href ='static/css/bootstrap.css' rel='stylesheet'>
	
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<style>
</style>
</head>

<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<hr>
		<div class='badge text-center'>
		<h1 class='text-uppercase'>Living for the Weekend</h1>
		<h2>What will you do this weekend? </h2>
		</div>
		<hr>

		<br>
		<br>

<div class='text-center'>
	<h4> Now that we have the borring legeal stuff out of the way - here are our suggestions:<h4>
		<li class='btn'> <a href='friday.html'> FRIDAY </li>
		<li class='btn'> <a href='saturday.html'> SATURDAY </li>
		<li class='btn'> <a href='sunda.html'> SUNDAY </li>


		
</div>

</div>
</body>




  