
<!DOCTYPE html>
<html lang='en'>
<head>
	<title> Saturday Night </title>
	<link href ='static/css/bootstrap.css' rel='stylesheet'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
    </head>

    <body>
            <hr>

            <br>
            <div class='badge text-center'>
            <h1 class='text-uppercase'> live for the weekend </h1>  
            <h2>What will you do this weekend? saturday </h2>
            <br>
            </div>    

            <hr>

            <div class='row text-center'>
            <h1 class='underline'> Our Saturday night recomendations </h1>
            <br>
            <p1>We have rounded up some suggestions on the best way to enjoy your evening from a sophisticated cocktail to late night where you can let your hair down dancing.</p1>
            <br>
            <br>
            <h5 class='strong'> ENJOY: </h5>
            </div>

            <hr>
            <br>

                    <div class='container-fluid'>
                    <div class='no-gutter'>

                    <div class='crop col-lg-4'>
                    <div class='hovereffect'>
                    <img class=img-thumbnail' src='static/images/Blue.jpg' alt=''>
                    <div class='overlay'>
                    <h2> Blues Kitcen </h2>
                    <p>
                    <a class='info' href='#''>
                    <p class='limit'> With great live music and delcious food where you can get in the mood for a great night. As music finishes at 1pm but you are in the midst of Shordich if you want to continue the fun </p>  
                    <p> When to go: Looking for fun night but with a little sophistication </p>
                    <a href='https://theblueskitchen.com/shoreditch/'> Check out their website </a>
                    </a>
                    </p>
                    </div>
                    </div>
                    </div>

                    <div class='crop col-lg-4'>
                    <div class='hovereffect'>
                    <img class=img-thumbnail' src='static/images/Adventure_1.jpg' alt=''>
                    <div class='overlay'>
                    <h2> Adventure Bar </h2>
                    <p>
                    <a class='info' href='#''>
                    <p> When to go: Night out with the girls </p>
                    <p class='limit'>One of Claphams many great bars, a small dance area and a long bar makes this place perfect for atmosphere and getting served. There is also a small space out front for those drunk chats. </p>
                    <a href='https://www.adventurebar.co.uk'> Check out their website </a>
                    </a>
                    </p>
                    </div>
                    </div>
                    </div>

                    <div class='crop col-lg-4'>
                    <div class='hovereffect'>
                    <img class=img-thumbnail' src='static/images/Archer.jpg' alt=''>
                    <div class='overlay'>
                    <p>
                    <h2> Archer Street </h2>    
                    <p>
                    <a class='info' href='#''>
                    <p class='limit'> Is the place to go for a Saturday night out in Soho. It has two rooms both with great music and singers dancing on the tables adding an upmarket karaoke vibe and making sure you keep the energy going. </p>
                    <p> When to go: Special ccassion especially birthday night out </p>
                    <a href='https://www.archerstreet.co.uk'> Check out their website </a>
                    </a>
                    </p>
                    </div>
                    </div>
                    </div>

                    <div class='crop col-lg-4'>
                    <div class='hovereffect'>
                    <img class=img-thumbnail' src='static/images/Maggies.jpg' alt=''>
                    <div class='crop overlay'>
                    <h2> Maggies </h2>
                    <p>
                    <a class='info' href='#''>
                    <p class='limit'> A quintessentual West London Experience. A small dance area makes the atomspehere ready to expload, its a place to really let your hair down.</p>
                    <p>When to go: Post an awards night when you have flats in your bag.</p>
                    <a href='https://www.maggies-club.com'> Check out their website </a>
                    </a>
                    </p>
                    </div>
                    </div>
                    </div>

                    <div class='crop col-lg-4'>
                    <div class='hovereffect'>
                    <img class=img-thumbnail' src='static/images/POW.jpg' alt=''>
                    <div class='overlay'>
                    <h2> Prince of Wales </h2>
                    <p>
                    <a class='info' href='#''>
                    <p class='limit'> Prince of Wales in the day may not look like much but inside there are multiple floors and rooms with differnt mustic plus a dreamy roof top to cool down and catch up. </p>
                    <p>When to go: Post saturday day drinkng in Pop Brixton</p>
                    <a href='https://pow-london.com'> Check out their website </a>
                    </a>
                    </p>
                    </div>
                    </div>
                    </div>

                    <div class='crop col-lg-4'>
                    <div class='hovereffect'>
                    <img class=img-thumbnail' src='static/images/Queen.jpg' alt=''>
                    <div class='overlay'>
                    <h2> The Old Queen's Head </h2>
                    <p>
                    <a class='info' href='#''>
                    <p class='limit'> downstairs is the quintessentual pub but upstairs is where this place makes it's mark. With a massive dance floor this place is great to finish a night with the music going untill 3am. </p>
                    <p> When to go: A large group night out</p>
                    <a href='https://theoldqueenshead.com'> Check out their website </a>
                    </a>
                    </p>
                    </div>
                    </div>
                    </div>

                </div>
                </div>

                            <br>
                 <hr>
                 
        <section class='row'>
        <h2>One last thing before you go...</h2>
        {% if temperature >= 20%} 
        <p>As we are Londoner's we are of course obsessed with the weather its currently {{temperature}} degrees. Therefore as its so nice and warm - no tights needed this weekend!</p>
        {% else %}
        <p>As we are Londoner's we are of course obsessed with the weather its currently {{temperature}} degrees. Its going to be {{temprature}} so pretty cold - we recomend a jacket!</p>
        {% endif %}

        {% if wind >=1%}
        <p>Its also a little windy at the momment, so be cacious about a dress. You dont want a momment like this: </p> 
        <img class='img-circle' src='static/images/Monroe.jpg' alt=''>
        {% else %}

        <p> </p>
        {% endif %}
        </section>
        <hr>           


        <p class='text-center'> Did you enjoy your evening? Why not continue having a great weekend with our <a href='Sunday.html'> Sunday </a> recomendations </p>
        </body>
        </html>			