<!DOCTYPE html>
<html>
<head>
	<title>LivingfortheWeekend</title>
	<link href ='../static/bootstrap.css' rel='stylesheet'>
	
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<style>
</style>
</head>

<body>
	<div class='myMain'>
		<div class='badge text-center'>
		<h1 class='text-uppercase'>Living for the Weekend</h1>
		<h2>What will you do this weekend?</h2>
		</div>

<div class="horoscope">
			<form method="post" action="/showmyweekend">
				<label for="text">Please Enter Your date of birth:</label>
				<input type="Date" id="dob" name="dob" required="required" data-date-format="DD MMMM YYYY">
				<input type="submit" value="Submit" id="submit"/>
			</form>
</div>

</div>
</body>




  