<!DOCTYPE html>
<html>
<head>
	<title>LivingfortheWeekend</title>
	<link href ='static/css/bootstrap.css' rel='stylesheet'>
	
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<style>
</style>
</head>

<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<hr>
		<div class='badge text-center'>
		<h1 class='text-uppercase'>Living for the Weekend</h1>
		<h2>What will you do this weekend? </h2>
		</div>
		<hr>

		<br>
		<br>

<div>
	<h4 class='text-center'> Everyone wants to enjoy the weekend, but all our suggestions are for people over 18. So we thought we better do the right thing and check! <h4>
			<form class='text-center' method="post" action="/age">
				<label for="text">Please enter your date of birth:</label>
				<input type="Date" id="dob" name="dob" required="required" data-date-format="DD MMMM YYYY">
				<input type="submit" value="Submit" id="submit"/>
			</form>
</div>

</div>
</body>




  