<!DOCTYPE html>
<html>
<head>
	<title>LivingfortheWeekend</title>
	<link href="home.css" rel="stylesheet">
<style>
	body {
	text-align: center;
	background: black;
	color: white;
	font-family: helvetica;
	}
</style>
</head>

<body>
<div class ='background'>
<div id='page_content'>
		<h1>Living for the Weekend</h1>
		<h2>What will you do this weekend?</h2>
</div>
</div>

<div class="horoscope">
			<form method="post" action="/showmyweekend">
				<label for="text">Please Enter Your date of birth:</label>
				<input type="Date" id="dob" name="dob" required="required" data-date-format="DD MMMM YYYY">
				<input type="submit" value="Submit" id="submit"/>
			</form>
		</div>
	</div>


Make Buttons: 

Friday 

Saturday 

Sunday 

<body> 



  